{% extends 'student/student_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
<table width="610" height="509" border="1">
  <tr>
    <th width="162" scope="row">Ratings</th>
    <td width="432"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required/></td>
  </tr>
  <tr>
    <th scope="row">review</th>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" required></textarea></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" name="button" id="button" value="Send" /></td>
  </tr>
</table>


</form>
</body>
</html>
{% endblock %}