{% extends 'student/student_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<a href="/student_profile">student profile</a><br>
<a href="/subjects_view">subject view</a><br>
<a href="/notes_download">notes download</a><br>
<a href="/question_paper_download">question paper download</a><br>
<a href="/send_complaints">send complaints</a><br>
<a href="/student_complaint_view">complaint view</a><br>
<a href="/send_ratings_and_review">send ratings and review</a><br>
<a href="/suggestion">send suggestions</a><br>

</body>
</html>
{% endblock %}