{% extends 'student/student_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
<table class="table table-active">
    <h6 class="section-title bg-white text-center text-primary px-3">SUGGESTIONS</h6>
  <tr>
    <th >suggestions</th>
    <td>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control"></textarea></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" name="button" id="button" value="Send" class="btn btn-dark"/></td>
  </tr>
</table>

</form>
</body>
</html>
{% endblock %}