{% extends 'student/student_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
{#<h3>View Result</h3>#}
    <div align="center">
        {% if data %}
            <font  size="6">You score is {{ data['mark'] }} out of {{ m }}</font>
            {% else %}
            <font color="red" size="6">You are not attended the exam</font>
        {% endif %}
    </div>
</form>
</body>
</html>
{% endblock %}