{% extends 'staff/selection.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table class="table table-active">
  <form action="" method="post">
  <h6 class="section-title bg-white text-center text-primary px-3">UPDATE SCHEDULE</h6>
    <tr>
      <th scope="row">subject</th>
      <td>
        <select name="select" id="select" class="form-control" required>
            {% for i in data1 %}
            <option value="{{ i.suballoc_courseid }} "{% if i.sub_id==data.sub_id %}selected{% endif %} >{{ i.sub_name }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th scope="row">Time</th>
      <td>
      <input type="time" name="time" id="time" value="{{ data.time }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>
      <input type="date" name="date" id="date" value="{{ data.date }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td><input type="submit" name="button" id="button" value="Schedule class" class="btn btn-dark"/></td>
    </tr>
  </form>
</table>
</form>
</body>
</html>
{% endblock %}
