{% extends 'staff/selection.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
{#<h3>Exam Scheduling</h3>#}
<h6 class="section-title bg-white text-center text-primary px-3">ADD EXAM</h6>

<table class="table table-bordered">
  <tr>
    <th scope="row">Subject</th>
    <td><label for="textfield"></label>
        <select type="text" name="textfield" id="textfield" class="form-control" required>

            {% for i in data %}
            <option value="{{ i.suballoc_courseid }}" required>{{ i.sub_name }}</option>
            {% endfor %}

        </select></td>
    </tr>
  <tr>
    <th scope="row">Date</th>
    <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" class="form-control" required min="{{ data2 }}" /></td>
  </tr>
  <tr>
    <th scope="row">Time</th>
    <td><label for="textfield3"></label>
      <input type="time" name="textfield3" id="textfield3" class="form-control" required /></td>
  </tr>
 <tr>
    <th scope="row">Mark</th>
    <td><label for="textfield3"></label>
      <input type="number" name="textfield4" id="textfield4" class="form-control" required /></td>
  </tr>

  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Schedule" class="btn btn-dark" /></th>
    </tr>
</table>

</form>
</body>
</html>
{% endblock %}