{% if data %}
    <tr>
      <th scope="row">Option1</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Option2</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Option3</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3"class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">Option4</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4"class="form-control" required /></td>
    </tr>

{% endif %}