<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<a href="/staff_profile">staff profile</a><br>
<a href="/allocated_subjects">allocated subjects</a><br>
<a href="/attendence_view">attendence view</a><br>
<a href="/add_student">Add Student</a><br>
<a href="/view_student">View Student</a><br>
<a href="/class_schedule">schedule class</a><br>
<a href="/class_schedule_view">class schedule view</a><br>
<a href="/staff_view_rating_and_review">rating and review</a><br>
<a href="/staff_view_suggestion">view suggestions</a><br>
</body>
</html>
