{% extends 'staff/selection.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data">
<table class="table table-active">
    <h6 class="section-title bg-white text-center text-primary px-3">UPLOAD PAPERS</h6>
  <tr>
    <th scope="row">question paper</th>
    <td>
      <input type="file" name="fileField" id="fileField" required/></td>
  </tr>
    <tr>
        <td>
            year
        </td>
        <td><input type="text" name="year" class = "form-control" required></td>
    </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" name="button" id="button" value="Upload" class = "btn btn-dark"/></td>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}