{% extends 'staff/selection.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table class="table table-active">
<h6 class="section-title bg-white text-center text-primary px-3">SUGGESTIONS</h6>
  <tr>
    <td>#</td>
    <td>student name</td>
    <td>date</td>
    <td>suggestion</td>

  </tr>

      {% for i in data %}
          <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i.stud_name}}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>{{ i.feedback }}</td>

      {% endfor %}
  </tr>
</table>
</body>
</html>
{% endblock %}