<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add_department">Add dept</a><br>
<a href="/view_department">View dept</a><br>
<a href="/add_course">Add Course</a><br>
<a href="/view_course">View Course</a><br>
<a href="/add_staff">Add Staff</a><br>
<a href="/view_staff">View Stafft</a><br>
{#<a href="/add_student">Add Student</a><br>#}
{#<a href="/view_student">View Student</a><br>#}
<a href="/add_subject">Add Subject</a><br>
<a href="/view_subject">View Subject</a><br>
<a href="/course_allocation">Allocate Subject</a><br>
<a href="/course_allocation_view">View Allocated subject</a><br>
<a href="/view_rating_and_review">View Ratings and reviews</a><br>
<a href="/complaint_view">View Complaints</a><br>

</body>
</html>