{% extends 'admin/selection.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

<table class="table table-active">
     <h6 class="section-title bg-white text-center text-primary px-3">COMPLAINT REPLY</h6>
  <tr>
    <th scope="row">Send reply</th>
    <td>

    <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
  </tr>
  <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="add" class="btn btn-dark" /></th>
  </tr>
</table>
    </form>
</body>
</html>
{% endblock %}