{% extends 'admin/selection.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get" enctype="multipart/form-data" name="form1" id="form1" >
<table class="table table-active">
 <h6 class="section-title bg-white text-center text-primary px-3">COURSES</h6>
  <tr>
    <th>#</th>
    <th>Department Name </th>
    <th>semester</th>
    <th>Course Name</th>
    <td></td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;{{ loop.index }}</th>
    <td>{{ i.dept_name }}</td>
    <td>{{ i.sem }}</td>
    <td>{{ i.course_name }}</td>
    <td><a href="/course_delete/{{ i.course_id }}" class="btn btn-dark"   onclick= "return confirm('Are you sure ?')">Delete</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}