{% extends 'admin/selection.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-active">
    <tr>
      <th scope="row">Name :</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">Subject Name :</th>
      <td>
        <select name="select" id="select" class="form-control">
            {% for i in data %}
            <option value="{{ i.subject_id }}">{{ i.subject_name }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th scope="row">Mob number :</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">Email :</th>
      <td><label for="textfield3"></label>
      <input type="email" name="textfield3" id="textfield3" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">Photo :</th>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">City :</th>
      <td>
      <input type="text" name="textfield4" id="textfield4" class="form-control"/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Add Staff" class="btn btn-dark" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}