{% extends 'admin/selection.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get" enctype="multipart/form-data" name="form1" id="form1" >
<table class="table table-active">
 <h6 class="section-title bg-white text-center text-primary px-3">SUBJECTS</h6>
  <tr>
    <th width="36" scope="row">#</th>
    <td width="160">subject name</td>
    <td width="160">syllabus name</td>
    <td width="20">&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">{{ loop.index }}</th>
    <td>{{ i.sub_name }}</td>
       <td><a href="{{ i.syllabus }}" download >Click here to download?<img src="/static/icon/pdficon.png" alt="" height="50" width="50"/></a> </td>
    <td><a href="/delete_subject/{{ i.sub_id }}" onclick="return confirm('Are you sure to download?')" class="btn btn-dark">Delete</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}