{% extends 'admin/selection.html' %}
{% block body %}

      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-active">
   <h6 class="section-title bg-white text-center text-primary px-3">STAFF DETAILS</h6>
      <tr>
      <td>staff name</td>
      <td><label for="select2"></label>
      <select name="select2" id="select2" class="form-control">
            {% for i in data1 %}
            <option value="{{ i.staff_id }}">{{ i.staff_name }}</option>
            {% endfor %}
      </select></td>
    </tr>

    <tr>
      <td height="59" colspan="2"><input type="submit" name="button" id="button" value="allocate" class="btn btn-dark"/></td>
    </tr>
  </table>
</form>
</body>
</html>

{% endblock %}

